body{
    background: linear-gradient(90deg, #8a2367, #e94057, #f27121);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden ;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 18px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    width: 20rem;
    height: 10rem;
    padding: 32px;
}

h1 {
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 8px;
    outline: none;
    margin-right: 15px;
}

input[type="color"]{
    background-color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    transition: .3s;
}
input[type="color"]:hover{
    background-color: rgb(247, 10, 128);
}
